*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Dark-Purple: rgb(23, 17, 35);
    --Russian-Violet: rgb(55, 34, 72);
    --Delft-Blue: rgb(65, 71, 112);
    --Powder-Blue: rgb(160, 185, 207);
    --Thistle: rgb(226, 207, 234);
    font-family: Cinzel, Calibri, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  grid-column: span 2;
}

h2 {
  text-align: center;
}

html {
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}


form {
  border: 2px solid var(--Dark-Purple);
  border-radius: 8px;
  margin: 1rem 2%;
  padding: 10px;
  background-color: var(--Thistle);
}  

label {
  display: block;
  font-size: 1rem;
  color: var(--Dark-Purple);
  padding-top: .2rem;
}
h3 {
  font-size: 2rem;
  color: var(--Russian-Violet);
  margin: 1.5rem 0 .2rem 0;
  border-bottom: 1px solid #eee;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
select,
textarea {
  display: block;
  margin: .6rem 0 1rem 0;
  padding: .3rem;
  border: 1px solid #999;
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color:#555;
  font-size: 36px;
  color: var(--Dark-Purple);
  width: 250px;
}

input:required {border-left-color: #d70000;}
input:focus {border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}

input[type=submit] {
  border: none;
  text-align: center;
  background-color: #3D405B;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1rem;
  margin: 1rem 0rem 0rem;
  font-size: 22px;
  -webkit-appearance: none;
  appearance: none;
}

input:-webkit-autofill{
  -webkit-text-fill-color: #3D405B;
}

#non-profit,
#silver,
#bronze,
#gold {
  border: 1px solid var(--Dark-Purple);
  border-radius: 8px;
  text-align: center;
  margin: 1rem;
  padding: 20px;
  background-color: var(--Powder-Blue);
  /* width: 280px;  */
}

#non-profit p,
#silver p,
#bronze p,
#gold p {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}  

#results {
  grid-column: span 2;
  background-color: var(--Thistle);
  padding: 20px;
  margin: 1rem;
  border: 1px solid var(--Dark-Purple);
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#results p {
  padding: 6px;
}

#non-profit,
#bronze,
#silver,
#gold {
  opacity: 0; 
  visibility: hidden; 
  animation-duration: 1.5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#bronze {
  animation-delay: 1s;
}

#silver {
  animation-delay: 2s;
}

#gold {
  animation-delay: 3s;
}

@keyframes slide-in {
  from {
    transform: translateX(150vw) scaleX(2);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0) scaleX(1);
    opacity: 1;
    visibility: visible;
  }
}
/* @media only screen and (min-width: 40em) {
  main {
    grid-template-areas: 
      "cards"
      "form";
    grid-template-columns: 1fr;
  }
} */
 