@media only screen and (min-width: 40em) { 
    .head-content {
        flex-direction: unset;
    }

    #menu {
        display: none;
    }

	.navigation {
		display: flex;
        align-items: center;
        justify-content: flex-end;
	}
	.navigation li {
		display: block; 
		/* flex: 1 1 100%; */
	}

	.navigation a {
		text-align: center;
        color: #fff;
        font-size: 26px;
	}

    nav {
        justify-content: flex-end;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        font-family: Shadows Into Light Two, Helvetica, sans-serif;
        font-size: x-large;
        background: var(--Russian-Violet);
        padding: 2rem;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
    
    .bold {
        font-weight: bolder;
        padding-bottom: 10px;
    }
    
    .trademark,
    .socials {
        padding-top: 30px;
    }
    
} 

/* @media only screen and (min-width: 64em) {
    .member-card {
        grid-template-columns: repeat(3, 1fr);
    }
} */