@media only screen and (min-width: 40em) { 
    #menu {
        display: none;
    }

    nav {
        max-width: 100%;
        font-size: 20px;
    }
    
    .navigation {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        background-color: var(--Dark-Purple);
        align-items: center;
    }
    
    .navigation li {
        flex: 1 1 auto; 
        display: block;
    }
    
    .navigation a {
        display: block;
        color: #eee;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
        font-size: 30px;
    }
    
    .navigation a:hover {
        font-weight: 800;
        text-decoration: underline;
        text-decoration-color: rgb(204, 0, 255);
        color: rgb(204, 0, 255);
    }
    

    h1 {
        grid-column: span 2;
    }

    main {
        padding: 10px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;
    }

    #certificates {
        grid-column: span 2;
    }
}