* {
	margin: 0;
	padding: 0;
}

:root {
    --Dark-Purple: rgb(23, 17, 35);
    --Russian-Violet: rgb(55, 34, 72);
    --Delft-Blue: rgb(65, 71, 112);
    --Powder-Blue: rgb(160, 185, 207);
    --Thistle: rgb(226, 207, 234);

}

header,
main,
footer {
  position: relative;
}

header {
    background-color: var(--Russian-Violet);
    color: #eee;
    text-align: center;
    font-family: Shadows Into Light Two, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

img {
    border-radius: 8px;
}

h2 {
    font-family: Caveat, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
}

p {
    font-family: Shadows Into Light Two, Helvetica, sans-serif;
    font-weight: bold;
}

#cards {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    place-items: center;
}

section {
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--Thistle);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    width: 345px;
    height: 550px;
}

footer {
    font-family: Shadows Into Light Two, Helvetica, sans-serif;
    background: var(--Russian-Violet);
    padding: 2rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 39.99em) {
    #cards {
        grid-template-columns: 1fr;
    }
}